<div class="row">
  <div class="col-4">
  
    <h2><%=(t('views.common.edit')+" "+User.model_name.human).titleize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :name , class: "form-label"%><br />
        <%= f.text_field :name, class: "form-control",autofocus: true, autocomplete: "name" %>
      </div>
      
      <div>
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, class: "form-control" ,autofocus: true, autocomplete: "email" %>
      </div>

      <div>
       
        <%= f.label :language , class: "form-label"%><br />
        <%= f.select :language,options_for_select(User.languages.map{|k,v| [k.titleize, v]}, selected: resource.language_code),{},{class: "form-select"} %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= f.label :password ,class: "form-label"%> <i>(<%=t('views.devise.leave_blank')%>)</i><br />
        <%= f.password_field :password,class: "form-control", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em>(<%=@minimum_password_length.to_s+" "+t('views.devise.characters_minimum')%>)</em>
        <% end %>
      </div>

      <div>
        <%= f.label :password_confirmation ,class: "form-label"%><br />
        <%= f.password_field :password_confirmation, class: "form-control",autocomplete: "new-password" %>
      </div>

      <div>
        <%= f.label :current_password , class: "form-label"%> <i>(<%=t('views.devise.need_current_password')%>)</i><br />
        <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit t('views.common.update').capitalize %>
      </div>
    <% end %>

    <h3><%=t('views.devise.cancel_account').titleize%> </h3>

    <p><%= button_to t('views.devise.cancel_account'),  registration_path(resource_name), data: {turbo: false, confirm: t('views.common.are_you_sure').titleize }, method: :delete %></p>

    <%= link_to t('views.common.back').capitalize, :back %>
  </div>
</div>


