<nav class="nav bg-light padding">
  <li class="nav-item">
    <%= link_to t('views.common.root').capitalize, root_path, class: 'nav-link' %>
  </li>
  <%if user_signed_in? %>
  <li class="nav-item">
    <%= link_to t('views.devise.profile').capitalize, edit_user_registration_path , class: 'nav-link'%>    
  </li>
  <li class="nav-item">  
    <%= link_to t('views.devise.log_out').capitalize, destroy_user_session_path, data: { turbo_method: :delete } , class: 'nav-link'%>
  </li>
  <%else %>
  <li class="nav-item">
    <%= link_to t('views.devise.log_in').capitalize, new_user_session_path , class: 'nav-link'%>
  </li>

  <li class="nav-item">  
    <%= link_to t('views.devise.sign_up').capitalize, new_user_registration_path , class: 'nav-link'%>
  </li>
  <%end %>  
</nav>