<%=form_with(model: [@bank_account,@transaction], local: true) do |f| %>
  
  <div class="mt-2">
    <%= f.label :transaction_date, class:"form-label" %>
    <%= f.date_field :transaction_date, class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= f.label :amount, class:"form-label" %>
    <%= f.number_field :amount, step: :any,class: "form-control" %>
  </div>
  
  <div class= "mt-2">
    <%= f.label t('activerecord.models.category.one')%>
    <%= f.collection_select(:category_id,@categories, :id, :name, {include_blank: true}, {class: "form-select"})%>
  </div>
  
  <div class="mt-2">
    <%= f.label :description, class:"form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mt-4">
    <span>
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </span>
  </div>
  
<%end%>