<h1><%=BankAccount.model_name.human%> <%=@bank_account.name%> </h1>
<h4> <strong><%=@bank_account.account_number%></strong>  </h4>

<h2><%=Transaction.model_name.human(count: 2)%></h2>

<%=render 'search_transactions' %>
<div>
  <%= link_to t('views.transaction.new').capitalize, new_bank_account_transaction_path, data: {turbo_frame: "turbo_modal"}, class: "mt-4 btn btn-primary" %>
</div>

<div class="mt-2" style="display: inline">
  <%= link_to t('views.common.download_excel'), download_excel_bank_account_transactions_path(format: :xlsx,filter_min_date: params[:filter_min_date], filter_max_date: params[:filter_max_date], filter_description: params[:filter_description], category: params[:category], filter_amount: params[:filter_amount]), data: {turbo_frame: 'turbo_flash'} %>

  <%= link_to t('views.common.send_excel'), send_excel_bank_account_transactions_path(filter_min_date: params[:filter_min_date], filter_max_date: params[:filter_max_date], filter_description: params[:filter_description], category: params[:category], filter_amount: params[:filter_amount]), data: {turbo_frame: 'turbo_flash'} %>  
</div>

<%=turbo_frame_tag "turbo_table" do%>
  <%= render @transactions.empty? ? 'partials/no_results' : 'index_table', {transactions: @transactions, bank_account: @bank_account} %>
<%end%>
<%= turbo_frame_tag "turbo_modal"%>