<h1><%=BankAccount.model_name.human%> <%=@bank_account.name%> </h1>
<h4> <strong><%=@bank_account.account_number%></strong>  </h4>

<h2><%=Transaction.model_name.human(count: 2)%> </h2>

<%= link_to t('views.transaction.new').capitalize, new_bank_account_transaction_path, class: "mt-4 btn btn-primary" %>

<%= render @transactions.empty? ? 'partials/no_results' : 'index_table', {transactions: @transactions, bank_account: @bank_account} %>
