<!DOCTYPE html>
<html>
  <head>
    <title>MyFinance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <%= render 'partials/nav'%>
    
    <%=turbo_frame_tag "turbo_flash" do%>
      <div>
        <%= render 'partials/errors'%>
      </div>
    <%end%>
  
                
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
